<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Coreprac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEAB174E1D3D543800D26B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAB176A1D3D543800D26B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAB17751D3D543800D26B64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
